<div id="background-stats">
  <div id="background-stats-1" [ngStyle]="{'width.%': this.percentCat }">
  </div>
  <!--
     -->
  <div id="background-stats-2" [ngStyle]="{'width.%': this.percentDog }">
  </div>
</div>
<div id="content-container">
  <div id="content-container-center">
    <div id="choice">
      <div class="choice cats">
        <div class="label">Cats</div>
        <div class="stat">{{percentCat}}%</div>
      </div>
      <div class="divider"></div>
      <div class="choice dogs">
        <div class="label">Dogs</div>
        <div class="stat">{{percentDog}}%</div>
      </div>
    </div>
  </div>
</div>
<div id="result">
  <span *ngIf="total == 0">No votes yet</span>
  <span *ngIf="total == 1">{{total}} vote</span>
  <span *ngIf="total >= 2">{{total}} votes</span>
</div>